{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <style>
    .svgrow {
      max-width: 100vw;
      overflow-x: auto;
      max-height: 500px;
      overflow-y: auto;
    }
    .svgrow svg {
      min-width: 70rem;
    }
  </style>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <h2 class="card-title">Location Tree View</h2>
                  <select id="selectNode"></select>
                </div>
              </div>
            </div>
            <div class="svgrow" id="tree-div">
              <div id="tree-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrascripts %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script>
    function renderTree(treeData) {
      light_color = localStorage.getItem('light_color')
      var root = d3.hierarchy(treeData)
      root.sort(function (a, b) {
        return a.data.type.toLowerCase().localeCompare(b.data.type.toLowerCase())
      })
      padding = 3
      var width = 500
    
      const dx = 100
      const dy = width / (root.height + padding)
      height = dy * root.height
    
      var levelWidth = [1]
      var childCount = function (level, n) {
        if (n.children && n.children.length > 0) {
          if (levelWidth.length <= level + 1) levelWidth.push(0)
    
          levelWidth[level + 1] += n.children.length
          n.children.forEach(function (d) {
            childCount(level + 1, d)
          })
        }
      }
      childCount(0, root)
      var newHeight = d3.max(levelWidth) * 50
    
      var svg = d3.select('#tree-container').append('svg').append('g').attr('id', 'tree-svg')
    
      var tree = d3.tree().size([newHeight, width])
      var treeData = tree(root)
    
      var stroke = '#2181ff' // stroke for links
      var strokeWidth = 1.5 // stroke width for links
      var strokeOpacity = 0.4 // stroke opacity for links
    
      const nodes = treeData.descendants()
      nodes.forEach(function (d) {
        d.y = d.depth * 180
      })
    
      const link = svg
        .append('g')
        .attr('fill', 'none')
        .attr('stroke', stroke)
        .attr('stroke-opacity', strokeOpacity)
        .attr('stroke-width', strokeWidth)
        .selectAll()
        .data(root.links())
        .join('path')
        .attr(
          'd',
          d3
            .linkHorizontal()
            .x((d) => d.y)
            .y((d) => d.x)
        )
    
      const node = svg
        .append('g')
        .attr('stroke-linejoin', 'round')
        .attr('stroke-width', 3)
        .selectAll()
        .data(root.descendants())
        .join('g')
        .attr('transform', (d) => `translate(${d.y},${d.x})`)
    
      node
        .append('circle')
        .attr('fill', (d) => (d.children ? '#555' : '#999'))
        .attr('r', 2.5)
    
      node
        .append('a')
        .attr('href', (d) => d.data.url)
        .append('text')
        .attr('dy', '0.31em')
        .attr('x', (d) => (d.children ? -6 : 6))
        .attr('text-anchor', (d) => (d.children ? 'end' : 'start'))
        .text((d) => d.data.type + ': ' + d.data.name)
        .clone(true)
        .lower()
        .attr('stroke', light_color == 'true' ? null : stroke)
    
      var treeSvg = document.getElementById('tree-svg')
      console.log()
      var bbox = treeSvg.getBBox()
    
      d3.select('#tree-container')
        .select('svg')
        .attr('width', bbox.width + 200)
        .attr('height', bbox.height + 100)
        .select('g')
        .attr('transform', 'translate(' + 300 + ',' + 0 + ')')
    }
    
    fetch('func/get_tree_data/')
      .then((response) => response.json())
      .then((data) => {
        var selectedIndex = 0
        var selectNode = document.getElementById('selectNode')
        for (var i = 0; i < data.length; i++) {
          var o = document.createElement('option')
          o.value = i
          o.text = 'Location: ' + data[i].name
          selectNode.appendChild(o)
        }
    
        selectNode.onchange = function () {
          selectedIndex = selectNode.selectedIndex
          const element = document.getElementById('tree-container')
          element.remove()
          var newContainer = document.createElement('div')
          newContainer.setAttribute('id', 'tree-container')
          selectNode = document.getElementById('selectNode')
          const treeDiv = document.getElementById('tree-div')
          treeDiv.insertBefore(newContainer, selectNode.nextSibling)
    
          renderTree(data[selectedIndex])
        }
    
        renderTree(data[selectedIndex]) // Assuming data[0] is the root node of the tree
      })
  </script>
{% endblock %}
