{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <a href="/admin/box/box"><h4 class="card-title">Are your an admin? - Click me to view the respective admin page</h4></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List of boxes</h4>
            {% if box_list %}
              <p class="category">This is where you see all your boxes</p>
            {% else %}
              <p class="category">There are no boxes in the database</p>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Location</th>
                    <th class="text-left">Box that this box is in</th>
                  </tr>
                </thead>
                <tbody>
                  {% for box in box_list %}
                    <tr>
                      <td class="text-left">{{ box.slug }}</td>
                      <td class="text-left">
                        <a href="{{ box.get_absolute_url }}">{{ box.name|capfirst }}</a>
                      </td>
                      <td class="text-left">{{ box.location|default_if_none:'-' }}</td>
                      <td class="text-left">{{ box.box|default_if_none:'-' }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{% url 'boxes' %}?search={{ search }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="{% url 'boxes' %}?search={{ search }}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
