{% extends 'layouts/base.html' %}
{% block content %}
  {% load static %}

  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List of boxes</h4>
            {% if box_list %}
              <p class="category">This is where you see all boxes</p>
            {% else %}
              <p class="category">There are no boxes in the database</p>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Location</th>
                    <th class="text-left">Box that this box is in</th>
                  </tr>
                </thead>
                <tbody>
                  {% for box in box_list %}
                    <tr>
                      <td class="text-left">{{ box.pk }}</td>
                      <td class="text-left">{{ box.name }}</td>
                      <td class="text-left">{{ box.location|default_if_none:'-' }}</td>
                      <td class="text-left">{{ box.box|default_if_none:'-' }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
