{% extends 'layouts/base.html' %}
{% block content %}
  {% load static %}

  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <a href="/admin/box/item"><h4 class="card-title">Are your an admin? - Click me to view the respective admin page</h4></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List of items</h4>
            {% if item_list %}
              <p class="category">This is where you see all your items</p>
            {% else %}
              <p class="category">There are no items in the database</p>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Description</th>
                    <th class="text-left">Sku</th>
                    <th class="text-left">Mpn</th>
                    <th class="text-left">Upc</th>
                    <th class="text-left">Unit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in item_list %}
                    <tr>
                      <td class="text-left">{{ item.pk|default_if_none:'-' }}</td>
                      <td class="text-left">{{ item.name|default_if_none:'-' }}</td>
                      <td class="text-left">{{ item.description|default_if_none:'-' }}</td>
                      <td class="text-left">{{ item.sku|default_if_none:'-' }}</td>
                      <td class="text-left">{{ item.mpn|default_if_none:'-' }}</td>
                      <td class="text-left">{{ item.upc|default_if_none:'-' }}</td>
                      <td class="text-left">{{ item.unit|default_if_none:'-' }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{% url 'items' %}?search={{ search }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="{% url 'items' %}?search={{ search }}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
