{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Item: {{ item.name }}</h4>
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <tr>
                  <th class="text-left">ID</th>
                  <td class="text-left">{{ item.pk|default_if_none:'-' }}</td>
                </tr>
                <tr>
                  <th class="text-left">Name</th>
                  <td class="text-left">{{ item.name|default_if_none:'-' }}</td>
                </tr>
                <tr>
                  <th class="text-left">Description</th>
                  <td class="text-left">{{ item.description|default_if_none:'-' }}</td>
                </tr>
                <tr>
                  <th class="text-left">Sku</th>
                  <td class="text-left">{{ item.sku|default_if_none:'-' }}</td>
                </tr>
                <tr>
                  <th class="text-left">Mpn</th>
                  <td class="text-left">{{ item.mpn|default_if_none:'-' }}</td>
                </tr>
                <tr>
                  <th class="text-left">Upc</th>
                  <td class="text-left">{{ item.upc|default_if_none:'-' }}</td>
                </tr>
                <tr>
                  <th class="text-left">Unit</th>
                  <td class="text-left">{{ item.unit|default_if_none:'-' }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Portions of this Item</h4>
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <thead>
                  <tr>
                    <th class="text-left">Portion ID</th>
                    <th class="text-left">Qty</th>
                    <th class="text-left">Box</th>
                  </tr>
                </thead>
                <tbody>
                  {% for itemportion in item.portions.all %}
                    <tr>
                      <td class="text-left">{{ itemportion.slug|default_if_none:'-' }}</td>
                      <td class="text-left">{{ itemportion.qty|default_if_none:'-' }}</td>
                      <td class="text-left">
                        <a href="{{ itemportion.box.get_absolute_url }}">{{ itemportion.box.name }}</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
