{% extends 'layouts/base.html' %}
{% block content %}
  {% load static %}
  {% load humanize %}

  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <a href="/admin/box/loan"><h4 class="card-title">Are your an admin? - Click me to view the respective admin page</h4></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List of loans</h4>
            {% if loan_list %}
              <p class="category">This is where you see all loans</p>
            {% else %}
              <p class="category">There are no loans in the database</p>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Item Portion</th>
                    <th class="text-left">User</th>
                    <th class="text-left">Qty</th>
                    <th class="text-left">Qty returned</th>
                    <th class="text-left">Timestamp borrow</th>
                    <th class="text-left">Timestamp return</th>
                    <th class="text-left">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for loan in loan_list %}
                    <tr>
                      <td class="text-left">{{ loan.pk }}</td>
                      <td class="text-left">
                        <a href="{{ loan.item.get_absolute_url }}">{{ loan.item.item.name|capfirst }}</a>
                      </td>
                      <td class="text-left">
                        {% if loan.user.first_name == '' %}
                          {{ loan.user.username }}<br />
                          {{ loan.user.email }}
                        {% else %}
                          {{ loan.user.first_name|capfirst }}
                          {{ loan.user.last_name|capfirst }}<br />
                          {{ loan.user.email }}
                        {% endif %}
                      </td>
                      <td class="text-left">{{ loan.qty }}</td>
                      <td class="text-left">{{ loan.qty_returned }}</td>
                      <td>
                        {{ loan.timestamp_borrow|naturalday:'M d Y' }} {{ loan.timestamp_borrow|time:'g:i a' }}<br /> {{ loan.timestamp_borrow|naturaltime }}
                      </td>
                      <td>
                        {{ loan.timestamp_return|naturalday:'M d Y' }} {{ loan.timestamp_return|time:'g:i a' }}<br /> {{ loan.timestamp_return|naturaltime }}
                      </td>
                      <td class="text-left">{{ loan.status }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <a href="{% url 'loans' %}?search={{ search }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="{% url 'loans' %}?search={{ search }}&page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
