{% extends 'layouts/base.html' %}
{% block content %}
  {% load static %}

  <div class="content">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List of Locations</h4>
            {% if location_list %}
              <p class="category">This is where you can see all your main storage-box places</p>
            {% else %}
              <p class="category">There are no locations in the database.</p>
            {% endif %}
          </div>
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <thead>
                  <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Name</th>
                    <th class="text-left">Address</th>
                    <th class="text-left">Postcode</th>
                  </tr>
                </thead>
                <tbody>
                  {% for loc in location_list %}
                    <tr>
                      <td class="text-left">{{ loc.pk }}</td>
                      <td class="text-left">{{ loc.name }}</td>
                      <td class="text-left">{{ loc.address|default_if_none:'-' }}</td>
                      <td class="text-left">{{ loc.postcode|default_if_none:'-' }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
{% endblock %}
