{% extends 'layouts/base.html' %}
{% block content %}
  {% load static %}

  {% if location_list %}
    <section class="py-4">
      <div class="container">
        <h3 class="fw-bolder text-center">List of Locations</h3>
        <br />
        <div class="card rounded-0 shadow">
          <div class="card-body">
            <div class="container-fluid">
              <table class="table table-striped tablesorter" id="category-tbl">
                <colcategory>
                  <col width="5%" />
                  <col width="30%" />
                  <col width="15%" />
                  <col width="15%" />
                </colcategory>
                <thead>
                  <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Postcode</th>
                  </tr>
                </thead>
                <tbody>
                  {% for loc in location_list %}
                    <tr>
                      <td class="text-center">{{ loc.pk }}</td>

                      <td>
                        <a href="{{ loc.get_absolute_url }}">{{ loc.name }}</a>
                      </td>
                      <td>{{ loc.address }}</td>
                      <td>{{ loc.postcode }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <p>There are no locations in the database.</p>
  {% endif %}
{% endblock %}
