{% load static admin_black %}

<ul class="nav">
  <li>
    <a href="/">
      <i class="tim-icons icon-chart-pie-36"></i>
      <p>Dashboard</p>
    </a>
  </li>
  <li>
    <a href="{% url 'locations' %}">
      <i class="tim-icons icon-square-pin"></i>
      <p>Locations</p>
    </a>
  </li>
  <li>
    <a href="{% url 'boxes' %}">
      <i class="tim-icons icon-components"></i>
      <p>Boxes</p>
    </a>
  </li>
  <li>
    <a href="{% url 'items' %}">
      <i class="tim-icons icon-settings"></i>
      <p>Items</p>
    </a>
  </li>
  <li>
    <a href="{% url 'loans' %}">
      <i class="tim-icons icon-tag"></i>
      <p>Loans</p>
    </a>
  </li>

  {% if not request.user.is_authenticated %}
    <li>
      <a href="{% url 'signin' %}">
        <i class="tim-icons icon-lock-circle"></i>
        <p>Login</p>
      </a>
    </li>
  {% endif %}

  {% admin_get_menu as app_list %}
  {% if app_list %}
    {% for app in app_list %}
      {% if app.has_perms and not app.pinned %}
        {% if app.models and app.app_label != 'auth' %}
          <li class="{% if 'pages' in parent %}{% endif %}">
            <a data-toggle="collapse" href="#dashboardBox">
              <i class="tim-icons icon-app"></i>
              <p>
                Other Views
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="dashboardBox">
              <ul class="nav">
                {% for model in app.models %}
                  {% if model.url %}
                    <li>
                      <a href="{{ model.url }}"><span class="sidebar-mini-icon">L</span><span class="sidebar-normal">{{ model.label }}</span></a>
                    </li>
                  {% else %}
                    <li class="">{{ model.label }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.user.is_superuser %}
    <li>
      <a href="{% url 'admin:login' %}">
        <i class="tim-icons icon-settings-gear-63"></i>
        <p>Admin Page</p>
      </a>
    </li>
  {% endif %}
  {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'profile' %}">
        <i class="tim-icons icon-single-02"></i>
        <p>User Profile</p>
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}">
        <i class="tim-icons icon-button-power"></i>
        <p>Logout</p>
      </a>
    </li>
  {% endif %}
</ul>
