{% load static admin_black %}

<ul class="nav">
  <li>
    <a href="/">
      <i class="tim-icons icon-chart-pie-36"></i>
      <p>Dashboard</p>
    </a>
  </li>
  <li>
    <a href="{% url 'locations' %}">
      <i class="tim-icons icon-square-pin"></i>
      <p>Locations</p>
    </a>
  </li>
  <li>
    <a href="{% url 'boxes' %}">
      <i class="tim-icons icon-components"></i>
      <p>Boxes</p>
    </a>
  </li>
  <li>
    <a href="{% url 'items' %}">
      <i class="tim-icons icon-settings"></i>
      <p>Items</p>
    </a>
  </li>
  <li>
    <a href="{% url 'loans' %}">
      <i class="tim-icons icon-tag"></i>
      <p>Loans</p>
    </a>
  </li>

  {% if not request.user.is_authenticated %}
    <li>
      <a href="{% url 'signin' %}">
        <i class="tim-icons icon-lock-circle"></i>
        <p>Login</p>
      </a>
    </li>
  {% endif %}

  {% if request.user.is_authenticated %}
    <li>
      <a href="{% url 'profile' %}">
        <i class="tim-icons icon-single-02"></i>
        <p>User Profile</p>
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}">
        <i class="tim-icons icon-button-power"></i>
        <p>Logout</p>
      </a>
    </li>
  {% endif %}
</ul>
