.svgrow {
    max-width: 100vw;
    overflow-x: auto;
    max-height: 500px;
    overflow-y: auto;
}

.svgrow svg {
    min-width: 70rem;
}

.tree-node-label {
    cursor: pointer;
}

menu {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid;
    background-color: white;
    font-weight: normal;
    white-space: nowrap;
}

menu:hover {
    background-color: #eef;
    font-weight: bold;
}

menu:hover>menu {
    display: block;
    cursor: pointer;
}

menu>menu {
    display: none;
    position: relative;
    top: -20px;
    left: 100%;
    width: 280px;
}

menu[title]:before {
    content: attr(title);
}

menu:not([title]):before {
    content: '\2630';
}